<ion-view title="Top 20 List" hide-back-button="true">
<ion-content class="has-header" padding="true">
</ion-view>
<br>
<br>

  <div class="list">

    <a class="item item-avatar" href="#">

      <img src="https://scontent.cdninstagram.com/hphotos-xpa1/t51.2885-19/11311442_111442419207018_1216194420_a.jpg">
      <h2>1. - dana_renee63</h2>
      <p>dana_renee63</p>
    </a>

        <a class="item item-avatar" href="#">

      <img src="https://scontent.cdninstagram.com/hphotos-xpa1/t51.2885-19/s150x150/12106203_174639066214962_1901490696_a.jpg">
      <h2>2. - Aliya Reed</h2>
      <p>aliya_reed</p>
    </a>

    <a class="item item-avatar" href="#">
      <img src="https://scontent-lga3-1.cdninstagram.com/hphotos-xap1/t51.2885-19/10432065_1389737141323188_2051497726_a.jpg">
      <h2>3. - Kayla</h2>
      <p>kayyy_marie133</p>
    </a>

  <a class="item item-avatar" href="#">
      <img src="https://scontent-lga3-1.cdninstagram.com/hphotos-xpt1/t51.2885-19/s150x150/12106201_1664789983765183_335356553_a.jpg">
      <h2>4. - Marissa Peterson</h2>
      <p>rissapete</p>
    </a>
  <a class="item item-avatar" href="#">
          <img src="https://scontent-lga3-1.cdninstagram.com/hphotos-xft1/t51.2885-19/s150x150/11881728_1652891064977266_103395744_a.jpg">
      <h2>5. - aleshaa.</h2>
      <p>aleshalee64</p>
    </a>

    <a class="item item-avatar" href="#">
      <img src="https://scontent-lga3-1.cdninstagram.com/hphotos-xpa1/t51.2885-19/10268979_646700002046660_1012750052_a.jpg">
      <h2>6. - Brandon Burtt</h2>
      <p>kingburtt225</p>
    </a>


</div>

</ion-content>


<ion-tabs class="tabs-light tabs-icon-top">
    <ion-tab title="More" icon="ion-plus-circled" href="#"></ion-tab>
    <ion-tab title="Share" icon="ion-share" href="#"></ion-tab>
<ion-tab title="Buy" icon="ion-code-download" href="#"></ion-tab>
</ion-tabs>
</ion-view>